<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
     <style>
          body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-right: 10px;
}

.heading_container img {
  width: 30px;
}

/*header section*/
.hero_area {
  height: 98vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eae6f5;
}

.sub_page .hero_area {
  height: auto;
}

.header_section .container {
  padding: 0;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 7px 20px;
  margin: 10px 15px;
  color: #000000;
  text-align: center;
  border-radius: 35px;
  text-transform: uppercase;
  font-size: 15px;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link, .custom_nav-container .navbar-nav .nav-item:hover .nav-link {
  background-color: #4b208c;
  color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}



.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}



.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #4b208c;
}

.custom_nav-container {
  z-index: 99999;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #190734;
  margin: 7px 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

/*end header section*/

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
     </style>
    <!-- JS CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
     <!-- header section strats -->
     <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/candidate/home">
              <span>
                Voting App
              </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="/candidate/home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/candidate/candaidatelist"> Condaidate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/user//profile"> Profile </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    <div class="container rounded bg-white mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <span class="font-weight-bold"><%= user.name %></span>
                    <span class="text-black-50"><%= user.email %></span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right mt-0">Profile Details</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><p><strong>ID:</strong> <%= user._id %></p></div>
                        <div class="col-md-12"><p><strong>Name:</strong> <%= user.name %></p></div>
                        <div class="col-md-12"><p><strong>Age:</strong> <%= user.age %></p></div>
                        <div class="col-md-12"><p><strong>Email:</strong> <%= user.email %></p></div>
                        
                        <div class="col-md-12"><p><strong>Mobile:</strong> <%= user.mobile %></p></div>
                        <div class="col-md-12"><p><strong>Role:</strong> <%= user.role %></p></div>
                        <div class="col-md-12"><p><strong>Is Voted:</strong> <%= user.isVoted %></p></div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6"><p><strong>Address:</strong> <%= user.address %></p></div>
                    </div>
                    <div class="mt-5 text-center">
                        <a href="/user/profile"  style="text-decoration: none; color: black; "><span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;Refresh
                        </span></a>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience mb-lg-4">

                        <span style="margin-right: 80px;" class="mb-lg-4">Nationality</span>
                            <span class="border px-3 p-1 add-experience mb-lg-4">
                               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwD_2InmSekOIfz3aUrvzrEEH6IqZ0wqxe9Vll43Wh-R7d9KIjJ2mPIvKmP7ShoTiITQ4&usqp=CAU" alt=" " style="width: 20px; height: 20px; border-radius: 50%;"> Pakistani</span>
                               
                    </div>
                    <hr class="mb-5">
                    <!-- change password button  -->
                    <div class="d-flex justify-content-between align-items-center experience">

                        <a href="/user/changePasswordform" style="text-decoration: none; color: black; "><span style="margin-right: 80px;">Change Password</span>
                            <span class="border px-3 p-1 add-experience">
                                <i class="fa fa-plus"></i>&nbsp;Password
                            </span></a>
                            <!-- logout -->
                            
                    </div>
                    <div class="d-flex justify-content-between align-items-center experience mt-5">
                    <a href="/user/logout" style="text-decoration: none; color: black; "><span style="margin-right: 160px;">LogOut</span>
                        <span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;LogOut
                        </span></a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Links -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>